{
  "extends": ["prettier"],
  "plugins": ["prettier", "only-warn"],
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "babelOptions": {
      "presets": ["@babel/preset-react"]
    },
    "requireConfigFile": false,
    "sourceType": "module",
    "jsx": true
  }
}
